.chessboard {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    margin: auto;
    user-select: none;
  }

  .chess_button_list {
    text-align: center;
    padding: 0;
  }

  .chess_button_list li {
    list-style: none;
    display: inline-block;
  }

  .chess_button_list li button{
    background: none;
    border: none;
    outline: none;
}

  .chess_button_list li.active button{
      background: #000;
      color: #fff;
  }

 
  .piece_choice_button {
    width: 30px;
    text-align: center;
    font-size: 16px;
  }