.chessboard {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    margin: auto;
    user-select: none;
  }

  .button_section {
    text-align: center;
  }

  .chess_button_list {
    text-align: center;
    display: inline-block;
    padding-left: 0;
    padding-right: 40px;
  }

  .chess_button_list li {
    list-style: none;
    display: inline-block;
  }

  .chess_button_list li.active button{
      background: #000;
      color: #fff;
  }

