.chessboard >.square {
    flex: 1 1 calc(100% / 8 - 0.4em);
    height: calc(100% / 8 - 0.4em);
    outline: 0.08em solid silver;
    margin: 0.2em;
    display: block;
    cursor: default;
    position: relative;
    background: white;
    cursor: pointer;
    box-sizing: border-box;
  }

  .chessboard  .square.black {
    background: black;
  }
  .chessboard  .square.red {
    border: 3px solid  red;
  }
  .chessboard  .square span {
     position: absolute;
     top: 1px;
     text-align: center;
     width: 100%;
     font-size: 20px;
  }
  .chessboard  .square.black span {
      color:#fff;
  }
  .chessboard  .square.red span{
      top: -2px;
  }
  .chessboard  .square.black.forbidden span,
  .chessboard  .square.forbidden span {
      color:#aaa;
      font-size: 16px;
      top: 4px;
  }
  